/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar {
    background-color: #ecf0f1;
    border-color: transparent;
}

ul.navbar-nav li a{
    color: #2c3e50;
}

.modal {
    overflow-y: auto;
}

.pointer {
    cursor: pointer;
}

.menu-button {
    margin: 15px 0 0 10px;
}*/

.narrow {
    width: 110px;
}

.row {
    display: flex;
}